<div class="container">
    <div class="row">
        <div class="col-md">
            <div class="jumbotron text-center">
                <h1 class="display-4">Hello, world!</h1>
                <p class="lead">This app will eventually allow you to scrape data from a news site and also allow you to
                    make
                    notes on each individual one</p>
                <hr class="my-2">
                <a class="btn btn-danger btn-lg" href="#" role="button">Scrape</a>
            </div>
        </div>
    </div>
</div>